body {
    font-family: 'Raleway', sans-serif;
}

a:hover {
    cursor: pointer;
}

.img-wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
    max-height: 210px;
    overflow-y: scroll;
    background-color: transparent;
}

img {
    max-width: 100%;
}

.border {
    border: 1px solid #cccccc;
}

.template {
    overflow-y: scroll;
}

.header {
    width: 100vw;
    border-bottom: 1px solid lightgrey;
    background-color: darkgray;
}

.navbar {
    margin-bottom: 0;
    background-color: #dcdcdc;
    width: 100vw;
    border-radius: 0;
}

.navbar-toggle {
    border: 1px solid #808080;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.active {
    background-color: #eeeeee;
    color: #000000;
}

.active a {
    color: #000000;
}

.icon-bar {
    border: 1px solid #808080;
}

.portfolio-row {
    margin-bottom: 10px;
}

