

.imgbox {
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    width: 343px;
    height: 201px;
    border: 1px #cccccc solid;
}


.calorieTracker {
    background-image: url('./images/health-tracker-resize-50-comp.png');
}

.neighborhoodMap {
    background-image: url('./images/nbhd-map-resize-50-comp.png');
}

.outlook2011 {
    background-image: url('./images/ol2011-vertical-allowed-1366.png');
}

.iPhone6SPlus {
    background-image: url('./images/iphone6splus-vertical-allowed-1366.png');
}

.iPhone6 {
    background-image: url('./images/iphone6s-vertical-allowed-1366.png');
}

