
.imgbox {
    max-height: 210px;
    border: 1px #cccccc solid;
}

.template {
    overflow-y: scroll;
}

.nonTemplate {
    overflow: hidden;
}

.imgResponsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.portfolio {
    composes: dark-grey-text from '../../../css/colors.css';
    composes: alegreya from '../../../css/typography.css';
}




