@import "../../node_modules/susy/sass/susy";

$susy: (columns: 12,
        column-width: 80px,
        gutter-width: 30px,
        grid-padding: 10px,
        global-box-sizing: border-box,
);

@include border-box-sizing;

.containerElement {
  @include container;
}

.navL {
  @include prefix(5 of 12);
  @include span(1 of 12 at 6);
}


.navR {
  @include prefix(6 of 12);
  @include suffix(3 of 12);
}

.header {
  @include prefix(4 of 12);
  @include suffix(4 of 12);
  text-align: center;
}

/*.galleryItem {
  @include gallery(4 of 12);
}*/


.column1 {
  @include span(4 of 12 at 1);
}

.column2 {
  @include span(4 of 12 at 5);
}

.column3 {
  @include span(4 of 12 at 9);
}

/*.sidebarL {
  @include span(4 of 12);
  @include suffix(8 of 12);
}*/

.row {
  @include span(12 of 12);
  margin-top: 20px;
  margin-bottom: 10px;
}